.contact { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #826afb;
}

form { 
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #333;
    margin: 25px;
}

form h2 { 
    font-size: 30px;
    text-align: center;
}